<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makers Dahsboard</title>
</head>
<body>
    <h1>All Makers</h1>
    <a href="/makers/new">Create a New Maker</a>
    
    <table>
        <thead>
            <th>ID</th>
            <th>NAME</th>
        </thead>
        <tbody>
            {% for maker in makers %}
            <tr>
                <td>{{maker.id}}</td>
                <td>{{maker.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>